body {
    background-color: chocolate;
}
.container {
    width: 200px;
    margin: 0 auto;
    background-color: rgb(196, 184, 184);
    padding: 20px;
}
.deretList {
    display: flex;
}

p {
    margin-top: 0px;
    margin-left: 20px;
    width: 100%;
}
input:checked + p {
    background: #F9F9F9;
    text-decoration: line-through;
}
