body {
    background-color: rgb(63, 59, 57);
}
main {
    text-align: center;
    width: 300px;
    margin: 130px auto;
    background-color: rgb(221, 94, 47);
    padding: 50px;
}
input {
    margin-top: 50px;
}